* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} /* Creates the border for the box that the header and Nav bar are in */

body {
    background-color: #d9dcd6;
} /* Styles the background of the body white */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
} /* Gives the header styled font and text and background color*/

header h1 {
    display: inline-block;
    font-size: 48px;
} /* Places the header correctly, and adjusts the font */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
} /* Creates the location and size, as well font style */


header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
} /* Organzies and styles the nav bar */


a {
    color: #ffffff;
    text-decoration: none;
} /* Defines the text and decoration for the nav bar links */


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} /* Gives dementions and url for image used under header */

.float-left {
    float: left;
    margin-right: 25px;
} /* Puts the image from "Search Engine Optimization" and "Social Media Marketing" on the left side of the row */

.float-right {
    float: right;
    margin-left: 25px;
} /* puts the image from "Online Reputation Management" on the right side of the row */

p {
    font-size: 16px;
} /* Sets the font for the paragraphs next to the the pictures of "Search Engine Optimization", "Online Reputation Management"  and "Social Media Marketing"*/


main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} /* Sets size and location for the "Main" location of content */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
} /* Sets background color, location, margin and padding, and font style of the side, far right, or "aside" location of the body. */

article {
    margin-bottom: 32px;
    color: #ffffff;
} /* Sets the color and distance between articles in the "aside" location */

h3 {
    margin-bottom: 10px;
    text-align: center;
} /* alters alignment and location for all h3 tags */

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} /* Sets peramiters for location of images in the "aside" location */

section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} /* Creates perameters for the "section" location, such as margin, padding, font style, color and background color */

img {
    max-height: 200px;
} /* Creates height perameters for all img tags which are found in the "aside" location */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
} /* Sets size and bottom margin perameters for all h2 tags */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
} /* Sets font style, and location for "footer" location */

footer h2 {
    font-size: 20px;
} /* Sets perameters for size of font for h2 in the Footer */
